In [2]:
import pandas as pd

#create two DataFrames
df1 = pd.DataFrame({'team': ['Mavericks', 'Nets', 'Warriors', 'Heat', 'Lakers'],
                    'points': [99, 90, 104, 117, 100]})

df2 = pd.DataFrame({'team': ['Mavricks', 'Warrors', 'Heat', 'Netts', 'Lakes'],
                    'assists': [22, 29, 17, 40, 32]})

In [3]:
df1

        team  points
0  Mavericks      99
1       Nets      90
2   Warriors     104
3       Heat     117
4     Lakers     100

In [4]:
df2

       team  assists
0  Mavricks       22
1   Warrors       29
2      Heat       17
3     Netts       40
4     Lakes       32

In [10]:
import difflib 

#create duplicate column to retain team name from df2
df2['team_match'] = df2['team']

#convert team name in df2 to team name it most closely matches in df1
print(difflib.get_close_matches(x, df1['team'])[0]))

0    Mavericks
1     Warriors
2         Heat
3         Nets
4       Lakers
Name: team, dtype: object

In [7]:
df2['team']

0    Mavericks
1     Warriors
2         Heat
3         Nets
4       Lakers
Name: team, dtype: object