In [1]:
import pandas as pd
import numpy as np

In [8]:
a_dataframe = pd.DataFrame({"Letters": ["a", "b", "c"], "Numbers": [1, 2, 3]})
a_list = ["Alex", "Jake", "John"]

In [5]:
liststr=' '.join([str(elm) for elm in a_list])

In [6]:
liststr

"['Alex'] ['Jake'] ['John']"

In [9]:
a_dataframe["Names"] = a_list

In [10]:
a_dataframe

  Letters  Numbers Names
0       a        1  Alex
1       b        2  Jake
2       c        3  John

In [12]:
a={'b':100,'c':300}
pd.DataFrame(a, index=['i',])

     b    c
i  100  300